In [7]:
A = {1, 2, 3}
B = {3, -6, 2, 0}
def union(A, B):
    D = A | B
    return D, len(D)
print(union(A, B))

({0, 1, 2, 3, -6}, 5)

In [8]:
A = {1, 2, 3}
B = {3, -6, 2, 0}
def inclusion_exclusion(A,B):
    a = len(A)
    b = len(B)
    c = len (A & B)
    d = len(A | B)
    return a, b, c, d
print(inclusion_exclusion(A, B))
print("notice: 3 + 4 - 2 == 5")

(3, 4, 2, 5)
notice: 3 + 4 - 2 == 5

In [9]:
A = {1, 2, 3, 4, 5}
B = {0, 2, -6, 5, 8, 9}
C = {2, 10}
def union3(A, B, C):
    D = (A | B | C)
    return D, len(D)
print(union3(A, B, C))

({0, 1, 2, 3, 4, 5, 8, 9, 10, -6}, 10)

In [10]:
A = {1, 2, 3, 4, 5}
B = {0, 2, -6, 5, 8, 9}
C = {2, 10}
def inclusion_exclusion(A, B, C):
    D = (A & B & C)
    E = (A | B | C)
    return len(D), len(E)
print(inclusion_exclusion(A, B, C))

(1, 10)

In [1]:
import pandas as pd
ser = pd.Series([100, 200, 300, 400, 500], index = ['tom', 'bob', 'nancy', 'dan', 'eric']
)

In [2]:
ser

tom      100
bob      200
nancy    300
dan      400
eric     500
dtype: int64

In [3]:
ser.loc[['tom','bob']]

tom    100
bob    200
dtype: int64

In [4]:
ser[[0,1]]

tom    100
bob    200
dtype: int64

In [5]:
ser.iloc[[0,1]]

tom    100
bob    200
dtype: int64

In [6]:
ser[['tom','bob']]

tom    100
bob    200
dtype: int64

In [7]:
ser.head(n=3)

tom      100
bob      200
nancy    300
dtype: int64

In [8]:
ser.head(3)

tom      100
bob      200
nancy    300
dtype: int64

In [9]:
ser[:3]

tom      100
bob      200
nancy    300
dtype: int64

In [12]:
import pandas as pd

In [13]:
d = {'one' : pd.Series([100.,200.], index=['apple','orange']),
'two' : pd.Series([111.,211], index=['apple','orange'])}
df = pd.DataFrame(d)
df

          one    two
apple   100.0  111.0
orange  200.0  211.0